USE [master]
GO
/****** Object:  Database [TechStore]******/
CREATE DATABASE [TechStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TechStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TechStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO

-- 1. Создание таблицы Customers (Клиенты)
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY IDENTITY(1,1),
    FirstName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    Email NVARCHAR(100) NOT NULL,
    City NVARCHAR(100) NOT NULL
);

-- 2. Создание таблицы Products (Каталог товаров)
CREATE TABLE Products (
    ProductID INT PRIMARY KEY IDENTITY(1,1),
    ProductName NVARCHAR(100) NOT NULL,
    Category NVARCHAR(100) NOT NULL DEFAULT 'не назначенно',
    Price DECIMAL(12,2) NOT NULL check (Price >= 0)
);

-- 3. Создание таблицы Orders (Заказы)
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY IDENTITY(1,1),
    CustomerID INT NOT NULL,
    OrderDate DATE NOT NULL ,
    CONSTRAINT FK_Orders_Customers FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

-- 4. Создание таблицы OrderItems (Позиции заказа)
CREATE TABLE OrderItems (
    OrderItemID INT PRIMARY KEY IDENTITY(1,1),
    OrderID INT NOT NULL,
    ProductID INT NOT NULL,
    Quantity INT NOT NULL check (Quantity > 0) ,
    Price DECIMAL(12,2) NOT NULL check (Price >= 0),
    CONSTRAINT FK_OrderItems_Orders FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
    CONSTRAINT FK_OrderItems_Products FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
);
GO

--- ЗАПОЛНЕНИЕ ТАБЛИЦ ДАННЫМИ ---


INSERT INTO TechStore.dbo.Orders ([OrderID], [CustomerID], [OrderDate]) VALUES
(1001, 1, '2026-01-10'),
(1002, 2, '2026-01-15'),
(1003, 3, '2026-01-20'),
(1004, 1, '2026-02-05'),
(1005, 4, '2026-02-12'),
(1006, 5, '2026-02-20'),
(1007, 6, '2026-03-03'),
(1008, 7, '2026-03-10'),
(1009, 8, '2026-03-15'),
(1010, 9, '2026-03-25'),
(1011, 10, '2026-04-02'),
(1012, 2, '2026-04-12'),
(1013, 3, '2026-04-20'),
(1014, 4, '2026-05-05'),
(1015, 5, '2026-05-18'),
(1016, 1, '2026-06-01'),
(1017, 6, '2026-06-15'),
(1018, 7, '2026-07-10'),
(1019, 8, '2026-08-05'),
(1020, 10, '2026-09-01');



--- CREATE DATABASE [TechStore_DWH]

-- 1. Создание таблицы Customers (Клиенты)
CREATE TABLE DimCustomers (
    CustomerKey INT PRIMARY KEY IDENTITY(1,1),
    CustomerID INT NOT NULL UNIQUE,
    FirstName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    City NVARCHAR(100) NOT NULL
);


-- 2. Создание таблицы Products (Каталог товаров)
CREATE TABLE Products (
    ProductKey INT PRIMARY KEY IDENTITY(1,1),
    ProductID INT NOT NULL UNIQUE,
    ProductName NVARCHAR(100) NOT NULL,
    Category NVARCHAR(100) NOT NULL DEFAULT 'не назначенно'
);

CREATE TABLE DimData(
	DateKey INT PRIMARY KEY IDENTITY(1,1),
    FullDate DATE NOT NULL UNIQUE,
    Day	INT	NOT NULL,
    Month INT NOT NULL,
    MonthName NVARCHAR(20) NOT NULL,
    Quarter	INT	NOT NULL,
    Year INT NOT NULL

)
-- 3. Создание таблицы Orders (Заказы)
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY IDENTITY(1,1),
    CustomerID INT NOT NULL,
    OrderDate DATE NOT NULL ,
    CONSTRAINT FK_Orders_Customers FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

-- 4. Создание таблицы OrderItems (Позиции заказа)
CREATE TABLE OrderItems (
    OrderItemID INT PRIMARY KEY IDENTITY(1,1),
    OrderID INT NOT NULL,
    ProductID INT NOT NULL,
    Quantity INT NOT NULL check (Quantity > 0) ,
    Price DECIMAL(12,2) NOT NULL check (Price >= 0),
    CONSTRAINT FK_OrderItems_Orders FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
    CONSTRAINT FK_OrderItems_Products FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
);